<header class="header">
    <div class="container"> 
        <div class="row">
            <div class="col-sm-2">
                <img src="images/logo.png" alt="Artisan" class="logo-img">
                <span class="logo-text logo-text__medium">проект</span>
                <span class="logo-text logo-text__color_gray logo-text__size_small">оптовая продажа плитки и сантехники</span>
            </div>
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-sm-6">
                        <span class="header__text header__text_color-blue">Проектный отдел</span>
                        <a href="tel:+74997242810" class="header__text header__text_color-darkblue">+7 (499) 724 28 10</a>
                    </div>
                    <div class="col-sm-6">
                        <span class="header__text header__text_color-blue">Диллерский отдел</span>
                        <a href="tel:+74997242810" class="header__text header__text_color-darkblue header__text_underline">+7 (499) 724 28 10</a>
                        <a href="tel:+74999887393" class="header__text header__text_color-darkblue header__text_underline">+7 (499) 988 73 93</a>
                    </div>
                </div>
                <span class="header__text header__text_color-blue header__text_align-right">Не дозвонились? Мы перезвоним!</span>             
            </div>            
            <div class="col-sm-4">
                <div class="header__room">
                    <div class="room__lk">                        
                        <button class="room__btn">
                            <img src="images/sing.png" alt="Log in to your personal account">
                            Вход в личный кабинет
                        </button>
                    </div>
                    <span class="header__text header__text_color-blue header__text_align-right">Заявка на сотрудничество</span>
                    <div class="room__send-post">
                        
                        <a "mailto:info@artisan-project.ru" target="_blank" class="header__text header__text_color-blue">
                            <img src="images/post.png" alt="Write a letter" class="room__send-img">
                            info@artisan-project.ru
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-2" style="background-color:lavenderblush;">kard</div>
        </div>
    </div>
</header>